.leftdiv
{
    background-image: url("../assets//model.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.google
{
    background-image: url("../assets/google.png");
    background-size: 95%;
    background-repeat: no-repeat;
}